@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: rgb(231, 231, 231);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(39, 114, 206);
}

.section {
    background-image: url('../assets/GlobalBG.png');
}

.btn p {
    transition: all 0.5s;

}

.btn:hover p {
    transform: translate(0);
    opacity: 1;
}

@font-face {
    font-family: 'CinaGEOTest';
    src: url('/fonts/CinaGEOTest-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'CinaGEOTest';
    src: url('/fonts/CinaGEOTest-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CinaGEOTest';
    src: url('/fonts/CinaGEOTest-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'CinaGEOTest';
    src: url('/fonts/CinaGEOTest-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'CinaGEOTest';
    src: url('/fonts/CinaGEOTest-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CinaGEOTest';
    src: url('/fonts/CinaGEOTest-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CinaGEOTest';
    src: url('/fonts/CinaGEOTest-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CinaGEOTest';
    src: url('/fonts/CinaGEOTest-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CinaGEOTest';
    src: url('/fonts/CinaGEOTest-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}