@font-face {
  font-family: 'CinaGeo';
  src: url("../public/fonts/CinaGEOTest-Regular.otf")
}

@font-face {
  font-family: 'CinaGeoMedium';
  src: url("../public/fonts/CinaGEOTest-Medium.otf")
}

@font-face {
  font-family: 'CinaGeoBold';
  src: url("../public/fonts/CinaGEOTest-Bold.otf")
}

@font-face {
  font-family: 'CinaGeoLight';
  src: url("../public/fonts/CinaGEOTest-Light.otf")
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'CinaGeo', sans-serif;
  background-color: #e0e0e2;
}

h1 {
  font-family: 'CinaGeoBold', sans-serif;
}

h2,
h3 {
  font-family: 'CinaGeoMedium', sans-serif;
}

.ant-menu-item {
  font-size: 1.2rem;
}

.ant-menu-item-icon {
  scale: 1.5;
}

.ant-menu-item-selected {
  background-color: aliceblue !important;
  box-shadow: -1px 3px 0 0 rgba(0, 0, 0, 0.212);
  color: #f582ae !important;
}