.home {
    background-image: url('../assets/Mesa\ de\ trabajo\ 1.png');
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.btn:hover p {
    transform: translate(0);
    opacity: 1;
}